#clients-table{
    display: grid;
    align-self: center;
}

#table{
    justify-self: center;
    margin-top: 1%;
}

#full-table{
    display: grid;
}

#filter-bar{
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
}

#filter-bar input{
    padding: 5px;
    margin-right: 5px;
}

/* .makeStyles-root-4{
    border: solid black 2px
} */


.update-box{
    border: solid black 2px;
    align-self: center;
    justify-self: center;
    width: 33vw;
    height:50vh;
    display: grid;
    position: absolute;
    top: 30vh;
    left: 33vw ;
    /* calc(100vh - 400px); */
    background: #bdc3c7;
    opacity: 0.9;
    color: black
}

.update-box svg{
    cursor: pointer;
    /* background-color: white; */
}

.update-box input{
    width: 90%;
    justify-self: center;
}

.update-box button{
    background: #1a76d2;
}

.delete-button{
    cursor: pointer;
}