#clients-table{
    display: grid;
    align-self: center;
}

#table{
    justify-self: center;
    margin-top: 1%;
}

#filter-bar{
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
}

#filter-bar input{
    padding: 5px;
    margin-right: 5px;
}